<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/login.css" type="text/css"/>
    <title>Document</title>
  </head>
  <body>
    <section class="login-container">
      <div class="form-wrapper">
        <form action="" class="login-form">
          <div class="imgcontainer">
            <img src="/img/images.png" alt="Avatar" class="avatar" />
          </div>

          <div class="container">
            <!-- <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Email" name="Email" required /> -->

            <label for="User_name"><b>User name</b></label>
            <input type="text" placeholder="User_name" name="User_name" required />

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Password" name="psw" required />

            <button type="submit" class="btn btn-login">Log In</button>

            <label>
              <input type="checkbox" checked="checked" name="remember" />
              Remember Me
            </label>

            <div class="container container-fluid cancel">
              <button class="cancelbtn">Cancer</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
